<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.app.ActivityLoadCSV"
            android:label="@string/title_activity_load_csv"
            android:screenOrientation = "portrait"
            android:configChanges = "orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.app.ActivityMain"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.app.ActivityRoomRec"
            android:label="@string/title_activity_find_room" >
        </activity>
        <activity
            android:name="com.example.app.ActivityFindRoomLater"
            android:label="@string/title_activity_find_room_later" >
        </activity>
        <activity
            android:name="com.example.app.ActivityExit"
            android:label="@string/title_activity_exit" >
        </activity>
        <activity
            android:name="com.example.app.ActivityWaitForCxn"
            android:label="@string/title_activity_wait_for_cxn" >
        </activity>
    </application>

</manifest>
<!--
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomRecActivity"
            android:label="@string/title_activity_find_room" >
        </activity>
        <activity
            android:name=".FindRoomLaterActivity"
            android:label="@string/title_activity_find_room_later" >
        </activity>
        <activity
            android:name=".ExitActivity"
            android:label="@string/title_activity_exit" >
        </activity>
        <activity
            android:name=".LoadCSVActivity"
            android:label="@string/title_activity_load_csv" >
        </activity>
-->
